body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #121212;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#media-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 0.3s ease;
}

#cover-art {
  max-width: 50%;
  max-height: 50%;
  border-radius: 10px;
  margin-bottom: 20px;
}

#details {
  margin-bottom: 20px;
}

#title {
  font-size: 40px; /* Largest */
  font-weight: bold;
}

#album {
  font-size: 30px; /* Medium */
  font-weight: normal;
}

#artist {
  font-size: 20px; /* Smallest */
  font-weight: lighter;
}

#progress-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 10px auto;
}

#progress-container span {
  font-size: 14px;
  margin: 0 10px;
  color: #bbb;
}

#progress-bar-container {
  flex: 1;
  height: 10px;
  background-color: #444;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

#progress-bar {
  height: 100%;
  background-color: #1db954;
  width: 0%;
  transition: width 0.5s;
}

#spotify-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: white;
  background-color: #1db954;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#spotify-link:hover {
  background-color: #14833b;
}

#buttons {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9999;
}

button {
  background-color: #1db954;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #14833b;
}

#login-btn {
  margin-top: 20px;
}

#fullscreen-btn, #toggle-visibility-btn, #color-mode-btn {
  font-size: 24px;
}

#progress-bar-white {
  background-color: white;
  opacity: 0.5;
}

:fullscreen {
  cursor: none;
}
